<main>
  <%= render 'shared/nav' %>
  <section>
    <h1> Admin </h1>
    <hr>
    <%= render 'admin/partials/links' %>
    </section>
    
  <div id="push"></div>

  <%= render 'shared/footer' %>
</main>