<main>
  <%= render 'shared/nav' %>
  <section>
    <h1> New Artwork </h1>
    <hr>
    <%= render 'artworks/partials/form', artwork: @artwork %>
    
  </section>

  <%= render 'shared/footer' %>
</main>